manifest {
    name = 'oalmelid/lift-over-nf'
    author = 'Øyvind Almelid'
    homePage = 'https://git.ecdf.ed.ac.uk/oalmelid/lift-over.nf'
    description = 'bed file lift-over pipeline with automatic download of chain files'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.07.1'
    version = '1.0.0'
}

params {
    bed_list = ""
    from = "hg38"
    to = "hg19"
    chain_cache_dir = "${launchDir}/chain_files/"
    out_dir = "${launchDir}/output/"
}

profiles {
    docker {
        docker.enabled = true
        process.container = "oalmelid/liftover-nf:latest"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = "docker://oalmelid/liftover-nf:latest"
    }

    conda {
        process.conda="${projectDir}/env/environment.yml"
    }
}
